@model IEnumerable<Restaurant>;
@{
    ViewData["Title"] = "Home Page";
    string search = "";
}

<div class="text-center mx-auto">
    <img src="~/images/pizzalogo.png" alt="Logo" class="img-fluid" />
</div>

<form asp-action="Index" onsubmit="location.href = '@(Url.Action("Index", "Home", new { search}))'">
    <span class="font-weight-light">Search by zip code</span>
    <div class="input-group mb-3 w-50">
        <input type="text" class="form-control" value="@search" placeholder="Search by zipcode">
        <div class="input-group-append">        
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">ZipCode</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Count() > 0)
        {
            @foreach (var restaurant in Model.Select((Value, index) => new { index, Value }))
            {
                <tr onclick="location.href = '@(Url.Action("Index", "Restaurant", new { restaurant.Value.Id}))'">
                    <th scope="col">@restaurant.index</th>
                    <td>@restaurant.Value.Name</td>
                    <td>@restaurant.Value.ZIPCode</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No Results</td>
            </tr>
        }
    </tbody>
</table>
@if (@Model.Count() > 0)
{
    <span class="font-weight-light">Displaying @Model.Count() results</span>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}