@using Microsoft.AspNetCore.Identity

@inject UserManager<User> userManager;
@inject ApplicationContext context;

@model User
@{
    ViewData["Title"] = "Index";
    string restaurantRoute = "";
    string restaurantName = "";
    if (User.IsInRole("RestaurantOwner"))
    {
        restaurantRoute = context.Restaurants.Single(o => o.Owner.Id == @Model.Id).Id;
        restaurantName = context.Restaurants.Single(o => o.Owner.Id == @Model.Id).Name;
    }
}
@*Profile card*@
<div class="container">
    <div class="row">
        <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail">
                <div class="col-lg-12 col-sm-12 col-12">
                    <img src="https://picsum.photos/200" class="rounded-circle img-thumbnail">
                    <h5>@Model.FirstName @Model.LastName</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Address</p>
                    <hr>
                    @if (User.IsInRole("RestaurantOwner"))
                    {
                        <a asp-controller="Restaurant" asp-action="Index" asp-route-id="@restaurantRoute" class="btn btn-info btn-sm">@restaurantName</a>
                        <hr>
                    }
                    <span>Description goes here :)</span>
                </div>
            </div>
        </div>
    </div>
</div>

@*Div that will hold the pie chart*@
<div id="chart_div" class="mx-auto text-center"></div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        async function drawChart() {      
            var fetchData = await fetch("api/pizzas/@Html.Raw(@Model.Id)").then((response) => response.json());
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Type');
            data.addColumn('number', 'Times ordered');
            console.log(fetchData);
            data.addRows(fetchData.map(d => Array.from(Object.values(d))));

            var options = {
                'title': 'Which is my favourite pizza?',
                'legend' : 'left',
                'width': 800,
                'height': 600,
                'is3D' : false
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

}

