@model Order
@{
    ViewData["Title"] = "ConfirmOrder";
}

<div class="mb-5 text-center">
    <h1 id="restaurantName" style="color:#e5a478">@Model.Restaurant.Name</h1>
    <span>@Model.Restaurant.Address, @Model.Restaurant.ZIPCode</span> <br />
    <span>@Model.Restaurant.Phone</span>
</div>

<h3>@Model.Status</h3>
@foreach (var pizza in @Model.Pizzas)
{
    <div>
        <div class="pt-5 w-100 mb-2 mx-auto">
            <dl class="row">
                <dt class="col-sm-2">
                    Pizza
                </dt>
                <dd class="col-sm-10">
                    @pizza.Name
                </dd>
                <dt class="col-sm-2">
                    Ingredients
                </dt>
                <dd class="col-sm-10">
                    @*@pizza.Ingredients.ToString()*@
                </dd>
                <dt class="col-sm-2">
                    Price
                </dt>
                <dd class="col-sm-10">
                    @pizza.Price
                </dd>
            </dl>
        </div>
    </div>
}
<span>Sub Total: @Model.totalPrice</span>
<br />
<span>Payment method: None</span>