@using Microsoft.AspNetCore.Identity

@model Restaurant
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "Index";
}
<div class="mb-5 text-center">
    <h1 id="restaurantName" style="color:#e5a478">@Model.Name</h1>
    <span>@Model.Address, @Model.ZIPCode</span> <br />
    <span>@Model.Phone</span>
</div>

<div class="mx-auto bg-success text-center w-50 rounded mb-2">
    <span id="responseSpan" class="text-white"></span>
</div>

<div class="mt-3 mb-3">
    <table class="table border border-secondary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Pizza</th>
                <th scope="col">Price</th>
                @if (Model.Owner == null)
                {
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>


            @if (@Model.Menu != null && @Model.Menu.Count() > 0)
            {
                @foreach (var pizza in @Model.Menu)
                {
                    <tr>
                        <td>@pizza.Name</td>
                        <td>@pizza.Price kr</td>
                        @if (@Model.Owner == null)
                        {
                            <td><button class="btn btn-primary" data-toggle="modal" data-target="#ingredientsModal" data-pizzaid="@pizza.Id">Add to cart</button></td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Nothing in menu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Owner != null)
{
    <div class="text-center">
        <a asp-action="EditMenu" class="btn btn-dark">Edit Menu</a>
    </div>
    <hr />
    <div class="container mt-5 p-0">
        <p>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseEditInfo" aria-expanded="false" aria-controls="collapseEditInfo">
                Edit Info
            </button>
        </p>
        <div class="collapse mb-5" id="collapseEditInfo">
            <form asp-action="UpdateRestaurantInfo" class="w-50">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>ZipCode</label>
                    <input type="number" asp-for="ZIPCode" class="form-control" />
                    <span asp-validation-for="ZIPCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Price Per Km</label>
                    <input type="range" min="0" max="25" step="1" id="pricePerKmSlider" asp-for="PricePerKilometer" class="form-control" />
                    <span id="pricePerKm"></span>
                </div>
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div>  
    <div>
        <div id="chart_div" class="w-50 float-right"></div>
    </div>
}
<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>

<div class="modal fade" id="ingredientsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select ingredients</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-choices">
                    <div class="modal-col-1">
                        <ul class="">
                            @foreach (var ingredient in @Model.Ingredients)
                            {
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="@ingredient.Id.ToString()" value="@ingredient.Id">
                                        <label class="custom-control-label" for="@ingredient.Id.ToString()">@ingredient.IngredientType</label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
    function Buy(pizzaId, restaurantId) {
        return () => {
            fetch("/Cart/Buy", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: pizzaId,
                    restaurantId: restaurantId,
                    ingredientId:  DumpInArray(),
                    })
            }).then((response) => response.json()).then((jsonResponse) => {
                console.log(jsonResponse.content);
                if (jsonResponse.statusCode == 200) {
                    let span = document.getElementById("responseSpan");
                    span.innerHTML = jsonResponse.content;
                }
            });
        }
    }

    function DumpInArray() {
            var arr = [];
            $('.modal-choices input[type="checkbox"]:checked').each(function () {
                arr.push($(this).val());
            });
            return arr;
    }

    $('#ingredientsModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('pizzaid') // Extract info from data-* attributes

        var modal = $(this)
        var r = $('<input/>').attr({
            type: "button",
            id: "buybtn",
            value: 'Add to cart',
            class: "btn btn-info"
        });
        modal.find('.modal-footer').html(r);
        document.getElementById('buybtn').onclick = Buy(recipient, '@Model.Id');
        document.getElementById('buybtn').setAttribute("data-dismiss", "modal");
    })

    </script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        async function drawChart() {

            var fetchData = await fetch("api/soldpizzas/@Html.Raw(@Model.Id)").then((response) => response.json());
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Type');
            data.addColumn('number', 'Times ordered');
            data.addRows(fetchData.map(d => Array.from(Object.values(d))));

            var options = {
                'title': 'Most sold pizza',
                'legend': 'left',
                'width': window.width / 40,
                'height': window.height / 100,
                'is3D' : true
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
}

